/*----HEADER----*/
.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B4074;
}
.header__logo{
    padding:17px 153px;
}
.header__menu-button{
    padding:17px 153px;
}
/*--------------*/
/*----INTRO----*/
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 104px);
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url('../images/bg-img.jpg') no-repeat center /cover;
}
.intro__text{
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 886px;
    color:#fff;
    text-align: center;
}
.intro__title{
    font-size: 96px;
    font-weight:400;
    text-transform: uppercase;
}
.intro__description{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.intro__button{
    display: flex;
    width:200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #2B4074;
    color: #F9F6E5;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 28px;
}
.intro__slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:60px;
    height:20px;
}
.intro__slider-position{
    border-radius: 50%;
    background: #fff;
    width:15px;
    height: 15px;
}
.active{
    border:2px solid #fff;
    background: #000;
}
.intro__slider-button{
    width:70px;
    height: 140px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    top:50%;
}
.slider-button{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:42px;
}
.left{
    color:#fff;
    background: #2B4074;
}
.right{
    color:#2B4074;
    background: #fff;
}
/*-------------*/
/*----PROMO----*/
.promo{
    width: 100%;
    background:#2B4074;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:#fff;
}
.promo__button-buy{
    display: flex;
    width: 200px;
    height: 50px;
    color:#2B4074;
    background: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 75px 125px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}
.promo__text{
}
/*-------------*/
/*----SERVICES----*/
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.content__subtitle::after{
    margin: 30px 0;
    display: block;
    content:" ";
    background: #2B4074;
    width:98px;
    height: 10px;
}
.content__title{
    color: #2B4074;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
}
.content__text{
    color: #797979;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}
.content__subtitle{
    color: #4A4A4A;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
}
.services__items{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 120px 120px;
}
.services__items-item{
    color:#2B4074;
}
.services__items-item_img{
    fill:#2B4074;
}
/*----------------*/